[submodule "external/org-mode"]
	path = external/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "external/google-contacts"]
	path = external/google-contacts
	url = git://git.naquadah.org/google-contacts.el.git
[submodule "external/offlineimap"]
	path = external/offlineimap
	url = git://git.naquadah.org/offlineimap-el.git
[submodule "external/twittering-mode"]
	path = external/twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
[submodule "external/use-package"]
	path = external/use-package
	url = https://github.com/jwiegley/use-package
[submodule "external/pinboard-api"]
	path = external/pinboard-api
	url = git@github.com:danieroux/pinboard-api-el.git
[submodule "external/pinboard"]
	path = external/pinboard
	url = git@github.com:danieroux/pinboard-el.git
[submodule "external/rainbow-delimiters"]
	path = external/rainbow-delimiters
	url = https://github.com/jlr/rainbow-delimiters
[submodule "external/discover.el"]
	path = external/discover.el
	url = https://github.com/mickeynp/discover.el
[submodule "external/makey.el"]
	path = external/makey.el
	url = https://github.com/mickeynp/makey
[submodule "external/structured-haskell-mode"]
	path = external/structured-haskell-mode
	url = https://github.com/chrisdone/structured-haskell-mode.git
[submodule "external/markdown-mod"]
	path = external/markdown-mod
	url = git://jblevins.org/git/markdown-mode.git
[submodule "external/markdown-mode"]
	path = external/markdown-mode
	url = git://jblevins.org/git/markdown-mode
[submodule "external/emacs-id-manager"]
	path = external/emacs-id-manager
	url = https://github.com/kiwanami/emacs-id-manager
