[submodule "external/org-mode"]
	path = external/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "external/use-package"]
	path = external/use-package
	url = https://github.com/jwiegley/use-package
[submodule "external/org2blog"]
	path = external/org2blog
	url = http://github.com/punchagan/org2blog.git
[submodule "external/metaweblog"]
	path = external/metaweblog
	url = https://github.com/punchagan/metaweblog
